.spacedDiv {
	margin-top: .2em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid gray;
}

input {
	margin-left: 2em;
}

input.ng-valid {
	background-color: lightgreen !important;
}

input.ng-invalid.ng-dirty {
	background-color: lightpink !important;
}