<div class="ui container loginForm">
	<form name="loginform" novalidate>
		<div class="ui inverted form">
			<div class="two fields">
				<div class="field">
					<label>Username: </label>
					<input type="text" tabindex="0" required ng-model="username">
				</div>
				<div class="field">
					<label>Password: </label>
					<input type="password" tabindex="0" required ng-model="password">
				</div>
			</div>
			<div class="two fields">
				<div class="field"></div>
				<div class="inline field">
					<div class="ui toggle checkbox">
						<input type="checkbox" tabindex="0" ng-model="isRemembered">
						<label>Remember Me?</label>
					</div>
					<button class="ui large login button" tabindex="0" ng-click="vm.login(username, password, isRemembered)" ng-disabled="loginform.$invalid">Login</button>
				</div>
			</div>
		</div>
	</form>
</div>