<link rel="stylesheet" href="components/homemadeModal/modal.css" />

<div>
	<div class="modalContainer"> <!-- dimmer -->
		<div class="ui center aligned grid">
			<div class="row">
				<div class="middle aligned column">
					<!-- content in modal -->
					<modal-prompt ng-show="vm.isPrompt"></modal-prompt>
					<modal-login ng-show="vm.isLogin"></modal-login>
					<modal-register ng-show="vm.isRegister"></modal-register>
				</div>
			</div>
		</div>
	</div>

	<!--<ng-transclude></ng-transclude>-->
</div>