<link rel="stylesheet" href="components/homemadeModal/modal.css" />

<div>
	<div class="modalContainer">
		<div class="ui center aligned grid">
			<div class="row">
				<div class="middle aligned column">
					<div class="ui inverted icon header">
						<i class="asterisk gray loading icon"></i> MESSAGE
					</div>
					<div class="actions">
						<div class="ui purple basic cancel inverted button" tabindex="0">
							<i class="remove icon"></i> OPTION 1
						</div>
						<div class="ui green ok inverted button" tabindex="1">
							<i class="checkmark icon"></i> OPTION 2
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-transclude></ng-transclude>
</div>