<link rel="stylesheet" href="components/loggedInUser/loggedInUser.css" />

<div class="ui segment paddingtop">
	<!-- spinny loading thing which shows if Firebase is syncing our login status -->
	<div class="loggedInUser" ng-if="vm.fetchIsLoading()"><i class="asterisk gray loading icon"></i></div>

	<!-- NOT logged in presentation -->
	<div class="loggedInUser" ng-if="!vm.fetchLoggedInUser() && !vm.fetchIsLoading()">
		<button ng-click="vm.showLogin()">LOGIN</button>
		<button ng-click="vm.showRegister()">REGISTER</button>
	</div>

	<!-- logged in presentation -->
	<div class="loggedInUser" ng-if="vm.fetchLoggedInUser() && !vm.fetchIsLoading()">
		<img class="ui avatar image" ng-src="{{ vm.fetchLoggedInUser().photoURL }}">
		<span>{{ vm.fetchLoggedInUser().displayName | uppercase }} :: <a href="" ng-click="vm.logoutPrompt()">LOGOUT</a></span>
		<!-- for debugging and logged in object inspection -->
		<span ng-if="false">{{ vm.fetchLoggedInUser() | json }}</span>
	</div>

	<!-- standard application header -->
	<h1 class="ui header"><i class="grey google icon" aria-hidden="true"></i>{{ vm.applicationLabel }}</h1>
</div>